{% extends 'base.html' %}
{% block content %}

<font size="+1" color="red">
</font>
<center>
<h1><b>Canteen Incharge Login</h2></b>
<br>
<br><form method="post" action="/adminloginaction/">
	{% csrf_token %} 
<table  width="50%" cellspacing="10">
                    
                    <tr><td><input class="form-control"  type="text" name="uid" placeholder="User ID" required="required" onblur="validate1()"></input><br></td></tr>
                    <tr><td><input class="form-control"  type="Password" name="pwd" placeholder="Password" required="required" onblur="validate5()"></input><br></td></tr>
                    <tr><td><br><input type="submit" class="form-control" value="Login">
                        
                
</table>
</form>

{% endblock %}